set -U XTERM_VERSION 0
set -U fish_prompt_pwd_dir_length 0

set fish_color_command white

function checkout_next
  git log --reverse --pretty=%H master | grep -A 1 (git rev-parse HEAD) | tail -n1 | xargs git checkout
end

function checkout_prev
  git checkout HEAD^1
end

alias l=ls
alias vim=nvim
alias backlite="sudo backlite /sys/devices/pci0000:00/0000:00:02.0/drm/card0/card0-eDP-1/intel_backlight"
fish_vi_key_bindings

set PATH $PATH ~/.cargo/bin
set PATH $PATH ~/tools

set -x GITHUB_USERNAME {{ .git.username }}
set -x GITHUB_PASSWORD {{ .git.cli_pat }}

set EDITOR /usr/bin/nvim
set PATH ~/dev/bitwarden $PATH
